@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@media (min-width: 1400px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
  .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .lg-hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
  .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .md-hidden {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
  .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
  .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .sm-hidden {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
  .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10,
  .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .xs-hidden {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 2;
}

header {
  height: 95px;
  position: relative;
}

#header-background {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: #254196;
}

#header-content-holder {
  position: absolute;
  height: 100%;
  z-index: 3;
}

#header-content-holder nav {
  height: 95px;
  padding-top: 1%;
  padding-bottom: 1%;
}

#header-content-holder nav #logo {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 1.4%;
  padding-left: 11%;
}

#header-content-holder nav #logo img {
  margin-top: -4px;
}

#header-content-holder nav #logo a {
  color: #fff;
}

#header-content-holder nav #logo #main {
  font-size: 1.2rem;
  padding-left: 4px;
}

#header-content-holder nav #logo #sub {
  font-size: 0.6rem;
  color: #5FCE7C;
  padding-left: 4px;
}

#header-content-holder nav #menu {
  height: 100%;
  padding-top: 2.2%;
}

#header-content-holder nav #menu a {
  color: white;
  font-size: 1.02rem;
}

#header-content-holder nav #menu #home:hover {
  color: #5FCE7C;
}

#header-content-holder nav #menu #about:hover {
  color: #5FCE7C;
}

#header-content-holder nav #menu #contact {
  margin-top: -5px;
}

#header-content-holder nav #menu #contact p {
  padding: 8px 0 8px 0;
  background-color: #5FCE7C;
  text-align: center;
  border-radius: 3px;
}

#header-content-holder nav #menu #contact:hover {
  opacity: .8;
}

#contactUsPopUp-map {
  height: 400px;
  position: relative;
  z-index: 2;
  opacity: 1;
}

#contactUsPopUp-map #map-fader {
  z-index: 10;
  height: 200px;
  width: 200px;
  background: #254196;
}

#contactUsPopUp {
  height: 600px;
  position: relative;
  background-color: #fff;
  z-index: 5;
}

#contactUsPopUp #contact-heading-float {
  position: absolute;
  height: 400px;
  color: #fff;
  background: #254196;
  top: -400px;
  opacity: 0.55;
}

#contactUsPopUp #contact-heading-float-content {
  position: absolute;
  left: 150px;
  top: -260px;
}

#contactUsPopUp #contact-heading-float-content h3 {
  font-size: 3.9rem;
  color: #254196;
}

#contactUsPopUp #contact-heading-float-content h5 {
  font-size: 1.1rem;
  color: #f2f2f2;
  padding-left: 25px;
}

#contactUsPopUp #contactUsPopUp-heading {
  position: relative;
  height: 90px;
  margin-bottom: 6%;
}

#contactUsPopUp #contactUsPopUp-heading #contactUsPopUp-heading-written {
  text-align: center;
  color: #254196;
  padding: 4.5% 0;
}

#contactUsPopUp #contactUsPopUp-heading #contactUsPopUp-heading-close-icon {
  position: absolute;
  height: 100%;
  display: none;
  left: 83.33%;
  background-image: url("../Images/cancel (1).png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#contactUsPopUp #contactUsPopUp-main {
  height: 720px;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder {
  height: 100%;
  margin-left: 8.33%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left {
  height: 100%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder {
  padding: 0% 2%;
  border-right: 2px solid #999;
  margin-top: 31%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-icon {
  height: 60px;
  background-image: url("../Images/placeholder (4).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 8%;
  margin-top: 0%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-content {
  text-align: center;
  margin-bottom: 4%;
  color: #999;
  line-height: 2;
  font-weight: 700;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-content .address-delhi {
  border-right: 1px solid #999;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-content .address {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-content .address h3 {
  color: #5FCE7C;
  margin-bottom: 5px;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right {
  position: relative;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder {
  position: absolute;
  top: 50px;
  margin-left: 8.33%;
  background-color: #fff;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #form-holder-heading {
  color: #999;
  font-size: 1.2rem;
  text-align: center;
  padding: 8% 0;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices {
  padding-left: 8.33%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices .input-container {
  border: 2px solid #999;
  border-radius: 2px;
  margin-bottom: 5%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices .input-image {
  height: 50px;
  opacity: 1;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices input:focus {
  outline: none;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #name-image {
  background-color: #fff;
  background-image: url("../Images/avatar (5).png");
  background-position: center;
  background-repeat: no-repeat;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #email-image {
  background-color: #fff;
  background-image: url("../Images/at (3).png");
  background-position: center;
  background-repeat: no-repeat;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #subject-image {
  background-color: #fff;
  background-image: url("../Images/edit (1).png");
  background-position: center;
  background-repeat: no-repeat;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #message-image {
  height: 100px;
  background-color: #fff;
  background-image: url("../Images/envelope (7).png");
  background-position: center;
  background-repeat: no-repeat;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices input {
  height: 50px;
  padding-left: 15px;
  margin-bottom: 0%;
  border-left: 2px solid #999;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices textarea {
  height: 100px;
  padding: 15px;
  margin-bottom: 0%;
  border-left: 2px solid #999;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #submitEnquiryMail {
  height: 50px;
  background-color: #5FCE7C;
  border: 2px solid #5FCE7C;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0%;
  margin-left: 41.33%;
  margin-top: 3%;
}

#contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #submitEnquiryMail:hover {
  opacity: 0.9;
  background-color: #999;
}

footer {
  background-color: #254196;
  border-top: 1px solid #e4e6f0;
}

footer #logo-image-container {
  position: relative;
}

footer #logo-background {
  position: absolute;
  z-index: 20;
  height: 100%;
  background-image: url("../Images/cover-shattered.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.18;
}

footer #logo-image {
  height: 120px;
  background-image: url("../Images/logoCircle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 0%;
  border-right: 1px dashed #f7f8fc;
  padding-right: 20%;
}

footer #copyrights {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  padding: 2.5% 0 0% 0;
  letter-spacing: 0.9px;
}

footer #copyrights h4 {
  padding-bottom: 4%;
}

footer #menu-options {
  padding: 4.8% 0 0% 23%;
  text-align: left;
}

footer #menu-options a {
  text-decoration: none;
  padding-right: 3%;
  font-size: 1.1rem;
  padding-top: 4%;
  color: #fff;
  letter-spacing: 0.7px;
  text-align: center;
}

footer #menu-options a:nthchild(1) {
  padding-left: 2%;
}

footer #menu-options a:hover {
  color: #5FCE7C;
}

footer #designedby {
  padding-top: 1%;
  text-align: center;
  color: #999;
  padding-bottom: 1%;
  background-color: #f7f8fc;
  font-size: 1.15rem;
}

footer #designedby a {
  color: #5FCE7C;
}

#facebook {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: 10;
  top: 240px;
  background-image: url("../Images/facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#googleplus {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: 10;
  top: 285px;
  background-image: url("../Images/linkedin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#landscape-mode {
  display: none;
}

@media (max-width: 576px) {
  #floating-menu {
    transition: all 0.5s;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    padding: 30px 7% 20px 7%;
    top: 00px;
    right: -500px;
    z-index: 11;
    opacity: 1;
    background-image: url("../Images/mobile-menu-1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    border-left: 1px solid #e4e6f0;
  }
  #floating-menu #hide-menu-button {
    height: 35px;
    margin-top: 0px;
    background-image: url("../Images/cancel (2).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 74%;
  }
  #floating-menu a {
    padding: 20px 0 20px 0;
    color: #254196;
    font-size: 1.6rem;
    font-weight: 700;
  }
  #floating-menu #home {
    margin-top: 50px;
  }
  #floating-menu #copyrights {
    margin-top: 48%;
    padding-top: 20px;
    border-top: 1px solid;
    color: #999;
  }
  header {
    height: 120px;
  }
  header #header-content-holder #responsivenav {
    position: relative;
  }
  header #header-content-holder #responsivenav #logo {
    height: 75px;
    margin-top: 20px;
    background-image: url("../Images/logo-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4%;
  }
  header #header-content-holder #responsivenav #menu-button {
    height: 75px;
    margin-top: 20px;
    background-image: url("../Images/menu (22).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 37%;
  }
  height: 400px;
  position: relative;
  z-index: 2;
  opacity: 1;
  #map-fader {
    z-index: 10;
    height: 200px;
    width: 200px;
    background: #254196;
  }
  #contactUsPopUp {
    height: 600px;
  }
  #contactUsPopUp #contact-heading-float {
    position: absolute;
    height: 400px;
  }
  #contactUsPopUp #contact-heading-float-content {
    position: absolute;
    left: 90px;
    top: -290px;
  }
  #contactUsPopUp #contact-heading-float-content h5 {
    display: none;
  }
  #contactUsPopUp #contactUsPopUp-heading {
    position: relative;
    height: 90px;
    margin-bottom: 6%;
  }
  #contactUsPopUp #contactUsPopUp-heading #contactUsPopUp-heading-written {
    text-align: center;
    color: #254196;
    padding: 4.5% 0;
  }
  #contactUsPopUp #contactUsPopUp-main {
    height: 660px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder {
    height: 100%;
    margin-left: 0%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left {
    height: 92%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder {
    padding: 2% 0%;
    border-right: 1px solid #e4e6f0;
    margin-top: 0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-icon {
    margin-bottom: 8%;
    margin-top: 18%;
    border-right: 1px solid #e4e6f0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder-content {
    text-align: center;
    margin-bottom: 4%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right {
    position: relative;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder {
    position: relative;
    top: 30px;
    margin-left: 0%;
    background-color: #fff;
    border-top: 1px solid #e4e6f0;
    box-shadow: 0px 0px 0px  0px #e4e6f0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #form-holder-heading {
    color: #7791AF;
    font-size: 1.2rem;
    text-align: center;
    padding: 12% 0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices {
    padding-left: 7.33%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices .input-image {
    height: 70px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices input {
    height: 70px;
    padding-left: 15px;
    margin-bottom: 0%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices textarea {
    height: 150px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #message-image {
    height: 150px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #submitEnquiryMail {
    height: 70px;
    margin-bottom: 10%;
    margin: 5% 0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #submitEnquiryMailImage {
    margin-left: 21%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices span {
    float: left;
    height: 50px;
    padding: 17px 0 0 20px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #submitEnquiryMail:hover {
    opacity: 0.9;
  }
  footer {
    background-color: #254196;
    border-top: 1px solid #e4e6f0;
    position: relative;
    z-index: 50;
    margin-top: 700px;
  }
  footer #logo-image-container {
    border-right: 0;
  }
  footer #logo-image {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0;
    border-right: 0;
  }
  footer #copyrights {
    font-size: 1rem;
    padding: 2.5% 0 0% 0;
  }
  footer #copyrights h4 {
    padding-bottom: 10%;
  }
  footer #menu-options {
    padding: 8.5% 0 5% 20.5%;
    text-align: left;
  }
  footer #menu-options a {
    padding-right: 3%;
    font-size: 1.1rem;
    padding-top: 4%;
  }
  footer #designedby {
    padding-bottom: 4%;
    padding: 4% 10% 4% 10%;
  }
  #menu-visible {
    display: none;
  }
  #facebook {
    height: 40px;
    width: 40px;
    top: 250px;
  }
  #googleplus {
    height: 40px;
    width: 40px;
    top: 295px;
  }
}

@media (orientation: landscape) and (min-width: 364px) and (max-width: 768px) {
  header {
    display: none;
  }
  #contactUsPopUp-map {
    display: none;
  }
  #contactUsPopUp {
    display: none;
  }
  #floating-menu {
    display: none;
  }
  #facebook {
    display: none;
  }
  #googleplus {
    display: none;
  }
  footer {
    display: none;
  }
  #landscape-mode {
    display: block;
  }
  #landscape-mode #img {
    height: 40vh;
    margin-top: 15vh;
    background-image: url("../Images/smartphone.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #landscape-mode #content {
    padding: 15vh 10vw;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header {
    height: 120px;
  }
  #header-content-holder #written-content {
    text-align: center;
    padding: 18.5% 0% 2% 0;
  }
  #header-content-holder nav {
    padding-top: 2%;
  }
  #header-content-holder #responsivenav {
    position: relative;
  }
  #header-content-holder #responsivenav #logo {
    height: 75px;
    margin-top: 20px;
    background-image: url("../Images/logo-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4%;
  }
  #header-content-holder #responsivenav #menu-button {
    height: 75px;
    margin-top: 20px;
    background-image: url("../Images/menu (22).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 37%;
  }
  height: 400px;
  position: relative;
  z-index: 2;
  opacity: 1;
  #map-fader {
    z-index: 10;
    height: 200px;
    width: 200px;
    background: #254196;
  }
  #contactUsPopUp {
    height: 600px;
  }
  #contactUsPopUp #contact-heading-float {
    position: absolute;
    height: 400px;
  }
  #contactUsPopUp #contact-heading-float-content {
    position: absolute;
    left: 90px;
    top: -290px;
  }
  #contactUsPopUp #contact-heading-float-content h5 {
    display: none;
  }
  #contactUsPopUp #contactUsPopUp-heading {
    position: relative;
    height: 90px;
    margin-bottom: 6%;
  }
  #contactUsPopUp #contactUsPopUp-heading #contactUsPopUp-heading-written {
    text-align: center;
    color: #254196;
    padding: 4.5% 0;
  }
  #contactUsPopUp #contactUsPopUp-main {
    height: 900px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder {
    height: 80%;
    margin-left: 0%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left {
    height: 100%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder {
    padding: 2% 0%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder #contactUsPopUp-address-holder-icon {
    margin-bottom: 8%;
    margin-top: 11%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-left #contactUsPopUp-address-holder-content {
    text-align: center;
    margin-bottom: 4%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right {
    position: relative;
    height: 900px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder {
    position: relative;
    height: 900px;
    top: -250px;
    margin-left: 0%;
    background-color: #fff;
    border-top: 1px solid #e4e6f0;
    box-shadow: 0px 0px 0px  0px #e4e6f0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #form-holder-heading {
    color: #7791AF;
    font-size: 1.2rem;
    text-align: center;
    padding: 9% 0 7% 0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices {
    padding-left: 7.33%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices input {
    height: 50px;
    padding-left: 15px;
    margin-bottom: 6%;
    border: 2px solid #e4e6f0;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #submitEnquiryMail {
    margin-bottom: 10%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices #submitEnquiryMailImage {
    margin-left: 35%;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #enquireaboutservices span {
    float: left;
    height: 50px;
    padding: 17px 0 0 20px;
  }
  #contactUsPopUp #contactUsPopUp-main #contactUsPopUp-main-holder #contactUsPopUp-main-right #contactUsPopUp-main-right-content-holder #submitEnquiryMail:hover {
    opacity: 0.9;
  }
  footer {
    background-color: #254196;
    border-top: 1px solid #e4e6f0;
    position: relative;
    margin-top: 700px;
  }
  footer #logo-image {
    margin-top: 30px;
  }
  footer #copyrights {
    font-size: 1rem;
    padding: 2.5% 0 0% 0;
  }
  footer #copyrights h4 {
    padding-bottom: 10%;
  }
  footer #menu-options {
    padding: 8.5% 0 5% 20.5%;
    text-align: left;
  }
  footer #menu-options a {
    padding-right: 3%;
    font-size: 1.1rem;
    padding-top: 4%;
  }
  footer #designedby {
    padding-bottom: 4%;
    padding: 4% 10% 4% 10%;
  }
  #menu-visible {
    display: none;
  }
  #facebook {
    height: 40px;
    width: 40px;
    top: 250px;
  }
  #googleplus {
    height: 40px;
    width: 40px;
    top: 295px;
  }
}
