@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@media (min-width: 1400px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
  .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .lg-hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
  .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .md-hidden {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
  .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
  .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .sm-hidden {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
  .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10,
  .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .xs-hidden {
    display: none;
  }
}

@keyframes header-content-animation {
  0% {
    padding-top: 14.05%;
    opacity: 0;
  }
  100% {
    padding-top: 6.35%;
    opacity: 1;
  }
}

@keyframes mobile-header-content-animation {
  0% {
    padding-top: 29.05%;
    opacity: 0;
  }
  100% {
    padding-top: 11.35%;
    opacity: 1;
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes service-tiles-animation {
  0% {
    margin-top: 12%;
    opacity: 0;
  }
  100% {
    margin-top: 6%;
    opacity: 1;
  }
}

@keyframes monetize-tiles-animation {
  0% {
    margin-top: 5%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

header {
  height: 450px;
  position: relative;
}

#header-background {
  position: absolute;
  height: 100%;
  z-index: 3;
  background-color: #254196;
  opacity: 0.89;
}

#header-graphics {
  position: fixed;
  height: 100%;
  z-index: 4;
  background-image: url("../Images/cover-shattered.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

#header-graphics-back {
  position: fixed;
  height: 100%;
  z-index: 2;
  background-image: url("../Images/doctype-hi-res.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header-content-holder {
  position: absolute;
  height: 100%;
  z-index: 5;
}

#header-content-holder nav {
  height: 100px;
  padding-top: 1%;
}

#header-content-holder nav #logo {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 1.4%;
  padding-left: 11%;
}

#header-content-holder nav #logo img {
  margin-top: -4px;
}

#header-content-holder nav #logo a {
  color: #fff;
}

#header-content-holder nav #logo #main {
  font-size: 1.2rem;
  padding-left: 4px;
}

#header-content-holder nav #logo #sub {
  font-size: 0.6rem;
  color: #5FCE7C;
  padding-left: 4px;
}

#header-content-holder nav #menu {
  height: 100%;
  padding-top: 2.2%;
}

#header-content-holder nav #menu a {
  color: white;
  font-size: 1.02rem;
}

#header-content-holder nav #menu #home:hover {
  color: #5FCE7C;
}

#header-content-holder nav #menu #about:hover {
  color: #5FCE7C;
}

#header-content-holder nav #menu #contact {
  margin-top: -5px;
}

#header-content-holder nav #menu #contact p {
  padding: 8px 0 8px 0;
  background-color: #5FCE7C;
  text-align: center;
  border-radius: 3px;
}

#header-content-holder nav #menu #contact:hover {
  opacity: .8;
}

#header-content-holder #written-content {
  text-align: center;
  padding: 0% 0 5% 0;
  padding-top: 14.95%;
  opacity: 0;
  animation: header-content-animation 0.6s forwards linear;
}

#header-content-holder #written-content #main-heading {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 0.4px;
}

#header-content-holder #written-content #main-heading span {
  color: #5FCE7C;
  font-size: 2.7rem;
}

#header-content-holder #written-content #sub-heading {
  color: #C0BABD;
  font-size: 1.7rem;
}

#header-content-holder #get-mobile {
  padding: 0 0 0 29.5%;
}

#header-content-holder #get-mobile #mobile-form #mobileNumber {
  height: 50px;
  font-size: 1rem;
  padding: 0 10px 0 25px;
  font-weight: 700;
  letter-spacing: 0.20px;
  color: #254196;
}

#header-content-holder #get-mobile #mobile-form #submit-button {
  height: 50px;
  margin-left: 0px;
  font-size: 1.01rem;
  background-color: #5FCE7C;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  cursor: pointer;
}

#header-content-holder #get-mobile #mobile-form #submit-button:hover {
  opacity: 0.8;
}

#what-we-do {
  height: 1340px;
  padding: 6.8% 0 6% 0;
  background-color: #fff;
  position: relative;
  z-index: 6;
}

#what-we-do #what-we-do-heading {
  text-align: center;
  font-size: 1.8rem;
  color: #495063;
}

#what-we-do #what-we-do-subheading {
  text-align: center;
  padding: 3% 0% 6% 0%;
  color: #495063;
  font-size: 1.3rem;
  line-height: 1.2;
}

#what-we-do #what-we-do-subheading .subheading-container {
  height: 120px;
  margin-top: 4%;
  margin-bottom: 3%;
  opacity: 0;
}

#what-we-do #what-we-do-subheading .subheading-container .subheading-image {
  height: 120px;
  border-right: 0px solid #999;
}

#what-we-do #what-we-do-subheading .subheading-container #first-image {
  background-image: url("../Images/money-bag (1).png");
  background-position: center;
  background-repeat: no-repeat;
}

#what-we-do #what-we-do-subheading .subheading-container #second-image {
  background-image: url("../Images/browsers (1).png");
  background-position: center;
  background-repeat: no-repeat;
}

#what-we-do #what-we-do-subheading p {
  font-size: 1.3rem;
  line-height: 1.9;
  color: #999;
  height: 120px;
  text-align: left;
  padding: 20px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#what-we-do #what-we-do-subheading .first {
  margin-left: 6.33%;
  background-color: #fff;
}

#what-we-do #what-we-do-subheading .second {
  margin-left: 4.33%;
  background-color: #fff;
}

#what-we-do #page-break {
  height: 30px;
  background-image: url("../Images/more.png");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

#we-can-help-container {
  background-color: #254196;
  padding-bottom: 8%;
  position: relative;
  z-index: 10;
  height: 810px;
}

#we-can-help-background {
  background-color: #254196;
  height: 810px;
  z-index: 4;
  background-image: url("../Images/cover-shattered.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.09;
  position: absolute;
  z-index: 11;
}

#we-can-help-background-low {
  position: absolute;
  height: 810px;
  z-index: 12;
  background-image: url("../Images/cover-shattered-back.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.07;
}

#we-can-help-content {
  position: absolute;
  z-index: 13;
}

#we-can-help-content #we-can-help {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  border-top: 2px solid #254196;
  margin-top: 0px;
  padding-top: 7%;
}

#we-can-help-content #service-tile-holder {
  margin-left: 8.33%;
  margin-top: 3%;
  position: relative;
}

#we-can-help-content #service-tile-holder .service-tile {
  height: 140px;
  margin-left: 6.25%;
  margin-top: 10%;
  opacity: 0;
  margin-bottom: 4%;
  padding-top: 2%;
  position: relative;
}

#we-can-help-content #service-tile-holder .service-image-holder {
  height: 80%;
  margin-left: 16.33%;
  position: relative;
  z-index: 26;
}

#we-can-help-content #service-tile-holder .serviceName {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.1rem;
  color: #011627;
  border: 1px solid #fff;
  position: relative;
  z-index: 25;
  margin-top: 23px;
  background-color: #fff;
}

#we-can-help-content #service-tile-holder #aggregator {
  background-color: #AA54AE;
}

#we-can-help-content #service-tile-holder #aggregator #aggregator-image {
  background-image: url("../Images/browsers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#we-can-help-content #service-tile-holder #adNetwork {
  background-color: #FF7F85;
  animation-delay: 0.2s;
}

#we-can-help-content #service-tile-holder #adNetwork #adNetwork-image {
  background-image: url("../Images/sitemap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#we-can-help-content #service-tile-holder #consultancy {
  background-color: #1C8AD8;
  animation-delay: 0.4s;
}

#we-can-help-content #service-tile-holder #consultancy #consultancy-image {
  background-image: url("../Images/user.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#we-can-help-content #service-tile-holder #design {
  background-color: #17BD93;
  animation-delay: 0.6s;
}

#we-can-help-content #service-tile-holder #design #design-image {
  background-image: url("../Images/design-tool.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.83;
}

#we-can-help-content #service-tile-holder #seo {
  background-color: #FFD47E;
  animation-delay: 0.8s;
}

#we-can-help-content #service-tile-holder #seo #seo-image {
  background-image: url("../Images/searching.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#we-can-help-content #service-tile-holder #smo {
  background-color: #8FB8DE;
  animation-delay: 1s;
}

#we-can-help-content #service-tile-holder #smo #smo-image {
  background-image: url("../Images/optimization.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#inquire-form {
  height: 630px;
  background-color: #f7f8fc;
  border-top: 1px solid #e4e6f0;
  position: relative;
  z-index: 20;
}

#form-holder {
  height: 630px;
  background-color: #fff;
  border: 1px solid #e4e6f0;
  position: absolute;
  top: 00px;
  left: 0%;
}

#form-holder-heading {
  padding: 6% 0 5% 0;
  text-align: center;
  color: #093B54;
  font-size: 1.3rem;
}

#enquireaboutservices {
  margin-left: 12.50%;
}

#enquireaboutservices .input-container {
  border: 1px solid #999;
  border-radius: 2px;
}

#enquireaboutservices .input-image {
  height: 50px;
  opacity: 1;
}

#enquireaboutservices #name-image {
  width: 17%;
  background-color: #fff;
  background-image: url("../Images/avatar (3).png");
  background-position: center;
  background-repeat: no-repeat;
}

#enquireaboutservices #email-image {
  background-color: #fff;
  background-image: url("../Images/at (2).png");
  background-position: center;
  background-repeat: no-repeat;
}

#enquireaboutservices #subject-image {
  background-color: #fff;
  background-image: url("../Images/pencil.png");
  background-position: center;
  background-repeat: no-repeat;
}

#enquireaboutservices #message-image {
  height: 100px;
  background-color: #fff;
  background-image: url("../Images/envelope (6).png");
  background-position: center;
  background-repeat: no-repeat;
}

#enquireaboutservices #name {
  width: 48.66%;
}

#enquireaboutservices #email {
  margin: 0  0 2.9% 1.33%;
}

#enquireaboutservices #subject {
  margin: 0  0 2.9% 0;
}

#enquireaboutservices #message {
  margin-bottom: 2.9%;
}

#enquireaboutservices input {
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.6px;
}

#enquireaboutservices #yourName {
  height: 50px;
  width: 83%;
  padding: 20px;
  border-left: 1px solid #999;
  background-color: #fff;
}

#enquireaboutservices #yourEmail {
  height: 50px;
  padding: 20px;
  border-left: 1px solid #999;
  background-color: #fff;
}

#enquireaboutservices #yourSubject {
  height: 50px;
  padding: 20px;
  border-left: 1px solid #999;
  background-color: #fff;
}

#enquireaboutservices #yourMessage {
  height: 100px;
  padding: 20px;
  border-left: 1px solid #999;
  background-color: #fff;
  color: #000;
  font-size: 1.05rem;
  letter-spacing: 0.6px;
}

#enquireaboutservices #submitEnquiryMail {
  height: 60px;
  background-color: #5FCE7C;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 58.33%;
  opacity: 1;
}

#enquireaboutservices #submitEnquiryMail #submitEnquiryMailImage {
  height: 50px;
  width: 30px;
  background-image: url("../Images/paper-plane (1).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin-left: 29%;
}

#enquireaboutservices #submitEnquiryMail span {
  float: left;
  height: 50px;
  padding: 17px 0 0 20px;
}

#enquireaboutservices #submitEnquiryMail:hover {
  opacity: 0.9;
}

#monetize {
  height: 600px;
  background-color: #fff;
  border-top: 0px solid #e4e6f0;
  position: relative;
  z-index: 6;
}

#monetize #monetize-heading {
  padding: 5% 0 5.5% 0;
  color: #2F303D;
  text-align: center;
}

#monetize #monetize-blocks {
  margin-left: 4.33%;
}

#monetize #monetize-blocks #monetize-block-2 {
  animation-delay: 0.3s;
}

#monetize #monetize-blocks #monetize-block-3 {
  animation-delay: 0.6s;
}

#monetize #monetize-blocks .monetize-block-class {
  height: 180px;
  opacity: 0;
}

#monetize #monetize-blocks .monetize-block-class .monetize-block-content {
  height: 100%;
  padding: 0% 10% 0 10%;
  text-align: center;
  line-height: 1.8;
  color: #999;
  letter-spacing: 0.9px;
  font-size: 0.95rem;
}

#monetize #monetize-blocks .monetize-block-class .monetize-block-content h2 {
  color: #2F303D;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

#monetize #monetize-blocks .monetize-block-class .monetize-block-content-one {
  padding-top: 1.6%;
  padding: 1.6% 15% 0 10%;
}

#monetize #monetize-blocks .monetize-block-class .monetize-block-content-two {
  padding-top: 1.6%;
}

#monetize #monetize-blocks .monetize-block-class .monetize-block-content-three {
  padding-top: 1.6%;
  animation-delay: 0.8s;
}

#monetize #monetize-blocks .monetize-block-class .monetixe-block-image {
  height: 100%;
  opacity: 0.8;
}

#monetize #monetize-blocks .monetize-block-class #monetize-image-one {
  background-image: url("../Images/money-bag.png");
  background-position: center;
  background-repeat: no-repeat;
}

#monetize #monetize-blocks .monetize-block-class #monetize-image-two {
  background-image: url("../Images/line-chart.png");
  background-position: center;
  background-repeat: no-repeat;
}

#monetize #monetize-blocks .monetize-block-class #monetize-image-three {
  background-image: url("../Images/audience.png");
  background-position: center;
  background-repeat: no-repeat;
}

#get-mobile-container {
  padding: 5% 0 1% 0%;
  background-color: #f7f8fc;
  position: relative;
  z-index: 10;
}

#get-mobile-container #getMobileHeading {
  color: #495063;
  text-align: center;
  font-weight: 700;
  font-size: 1.9rem;
  opacity: 0;
}

#get-mobile-container #getMobileSubHeading {
  font-size: 1.4rem;
  color: #999;
  text-align: center;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  opacity: 0;
}

#get-mobile {
  padding: 4% 0 4% 29.5%;
  opacity: 0;
}

#get-mobile #mobile-form #mobileNumber {
  height: 50px;
  font-size: 1rem;
  padding: 0 10px 0 25px;
  font-weight: 700;
  letter-spacing: 0.20px;
  color: #5FCE7C;
  border: 2px solid #5FCE7C;
  border-right: 0px;
}

#get-mobile #mobile-form input:focus {
  outline: none;
}

#get-mobile #mobile-form #submit-button {
  height: 50px;
  margin-left: 0px;
  font-size: 1.01rem;
  background-color: #5FCE7C;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  border: 1px solid #5FCE7C;
  cursor: pointer;
  margin-bottom: 10px;
}

#get-mobile #mobile-form #submit-button:hover {
  opacity: 0.8;
}

footer {
  background-color: #254196;
  border-top: 1px solid #fff;
  z-index: 21;
}

footer #logo-image-container {
  position: relative;
}

footer #logo-background {
  position: absolute;
  z-index: 20;
  height: 100%;
  background-image: url("../Images/cover-shattered.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.18;
}

footer #logo-image {
  height: 120px;
  background-image: url("../Images/logoCircle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 0%;
  border-right: 1px dashed #f7f8fc;
  padding-right: 20%;
}

footer #copyrights {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  padding: 2.5% 0 0% 0;
  letter-spacing: 0.9px;
}

footer #copyrights h4 {
  padding-bottom: 4%;
}

footer #menu-options {
  padding: 4.8% 0 0% 23%;
  text-align: left;
}

footer #menu-options a {
  text-decoration: none;
  padding-right: 3%;
  font-size: 1.1rem;
  padding-top: 4%;
  color: #fff;
  letter-spacing: 0.7px;
  text-align: center;
}

footer #menu-options a:nthchild(1) {
  padding-left: 2%;
}

footer #menu-options a:hover {
  color: #5FCE7C;
}

footer #designedby {
  padding-top: 1%;
  text-align: center;
  color: #999;
  padding-bottom: 1%;
  background-color: #fff;
  font-size: 1.15rem;
}

footer #designedby a {
  color: #5FCE7C;
}

#facebook {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: 30;
  top: 240px;
  background-image: url("../Images/facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#googleplus {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: 30;
  top: 285px;
  background-image: url("../Images/linkedin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#landscape-mode {
  display: none;
}

@media (max-width: 576px) {
  header {
    height: 480px;
  }
  #header-background {
    opacity: 0.85;
  }
  #header-graphics {
    position: absolute;
    opacity: 0.4;
    display: none;
  }
  #header-graphics-back {
    position: absolute;
    height: 100%;
  }
  #header-content-holder #written-content {
    text-align: center;
    padding: 18.5% 0% 2% 0%;
  }
  #header-content-holder #responsivenav {
    position: relative;
  }
  #header-content-holder #responsivenav #logo {
    height: 80px;
    margin-top: 20px;
    background-image: url("../Images/logo-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4%;
  }
  #header-content-holder #responsivenav #menu-button {
    height: 75px;
    margin-top: 20px;
    background-image: url("../Images/menu (22).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 37%;
  }
  #header-content-holder #written-content {
    text-align: center;
    padding: 17.5% 0 5% 0;
    animation: mobile-header-content-animation 0.6s forwards linear;
  }
  #header-content-holder #written-content #main-heading {
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 1.9px;
    padding-bottom: 2%;
  }
  #header-content-holder #written-content #sub-heading {
    color: #C0BABD;
    font-size: 1.3rem;
    padding: 0 2%;
    letter-spacing: 0.9px;
    padding-bottom: 14%;
  }
  #header-content-holder #get-mobile {
    padding: 0 0 0 8.33%;
  }
  #header-content-holder #get-mobile #mobile-form #mobileNumber {
    height: 50px;
    font-size: 1rem;
    padding: 0 10px 0 30px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.20px;
    color: #254196;
    margin-bottom: 25px;
  }
  #header-content-holder #get-mobile #mobile-form #submit-button {
    margin-left: 0%;
  }
  #what-we-do {
    height: 2690px;
    padding: 25% 0 15% 0;
    background-color: #fff;
    position: relative;
    z-index: 6;
  }
  #what-we-do #what-we-do-heading {
    text-align: center;
    font-size: 1.8rem;
    color: #495063;
    padding-bottom: 7%;
  }
  #what-we-do #what-we-do-subheading {
    text-align: center;
    padding: 3% 5% 6% 5%;
    color: #495063;
    font-size: 1.1rem;
    line-height: 1.2;
  }
  #what-we-do #what-we-do-subheading .subheading-container {
    height: 120px;
    margin-top: 4%;
    margin-bottom: 30%;
  }
  #what-we-do #what-we-do-subheading .subheading-image {
    height: 120px;
    border-right: 0px solid #999;
  }
  #what-we-do #what-we-do-subheading p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #999;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px 5px;
  }
  #what-we-do #what-we-do-subheading .first {
    margin-left: 0%;
  }
  #what-we-do #what-we-do-subheading .second {
    margin-left: 0%;
    margin-bottom: 45%;
  }
  #what-we-do #what-we-do-subheading p:hover {
    color: #999;
    background-color: #fff;
  }
  #what-we-do #we-can-help-background {
    background-color: #254196;
    height: 1930px;
    position: relative;
  }
  #what-we-do #we-can-help-container {
    background-color: #254196;
    height: 1930px;
    position: relative;
    padding-bottom: 5%;
  }
  #what-we-do #we-can-help {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 40px;
    padding-top: 8%;
    padding: 10% 5% 0% 5%;
    position: relative;
  }
  #what-we-do #service-tile-holder {
    margin-left: 0%;
    margin-top: 15%;
  }
  #what-we-do #service-tile-holder .service-image-holder {
    height: 80%;
    margin-left: 0%;
  }
  #what-we-do #service-tile-holder .service-tile {
    height: 160px;
    margin-left: 9.33%;
    margin-top: 6%;
    margin-bottom: 30%;
    padding: 5% 0;
  }
  #what-we-do #service-tile-holder .service-image-holder {
    height: 80%;
  }
  #what-we-do #service-tile-holder .serviceName {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.1rem;
    color: #011627;
  }
  #what-we-do #aggregator #aggregator-image {
    background-image: url("../Images/aggregation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #what-we-do #adNetwork #adNetwork-image {
    background-image: url("../Images/adnetwork1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #consultancy #consultancy-image {
    background-image: url("../Images/consultancy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #design #design-image {
    background-image: url("../Images/design-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #seo #seo-image {
    background-image: url("../Images/seo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #smo #smo-image {
    background-image: url("../Images/smo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #inquire-form {
    height: 810px;
    background-color: #f7f8fc;
    border-top: 1px solid #e4e6f0;
    position: relative;
    z-index: 6;
  }
  #form-holder {
    height: 810px;
    background-color: #fff;
    border: 1px solid #e4e6f0;
    position: relative;
    top: 0px;
    left: 0%;
  }
  #form-holder-heading {
    padding: 12% 0 12% 0;
    text-align: center;
    color: #7791AF;
  }
  #enquireaboutservices {
    margin-left: 4.17%;
    position: relative;
    padding-bottom: 2%;
  }
  #enquireaboutservices .input-image {
    height: 70px;
    opacity: 1;
  }
  #enquireaboutservices #message-image {
    height: 150px;
  }
  #enquireaboutservices .input-container {
    border: 1px solid #999;
    border-radius: 2px;
  }
  #enquireaboutservices #name {
    width: 100%;
    margin-bottom: 7%;
  }
  #enquireaboutservices #email {
    margin-left: 0;
    margin-bottom: 7%;
  }
  #enquireaboutservices #subject {
    margin-bottom: 7%;
  }
  #enquireaboutservices #message {
    margin-bottom: 15%;
  }
  #enquireaboutservices #yourName {
    height: 70px;
    width: 83%;
    padding: 20px;
    border-left: 1px solid #999;
    background-color: #fff;
    margin: 0  0 0% 0%;
  }
  #enquireaboutservices #yourEmail {
    height: 70px;
    padding: 20px;
    border-left: 1px solid #999;
    background-color: #fff;
    margin: 0  0 0% 0%;
  }
  #enquireaboutservices #yourSubject {
    height: 70px;
    padding: 20px;
    border-left: 1px solid #999;
    background-color: #fff;
    margin-bottom: 0%;
  }
  #enquireaboutservices #yourMessage {
    height: 150px;
    padding: 20px;
    border-left: 1px solid #999;
    background-color: #fff;
    margin-bottom: 0%;
  }
  #enquireaboutservices #status {
    margin-bottom: 30px;
  }
  #enquireaboutservices #submitEnquiryMail {
    margin-top: 0%;
    height: 70px;
    background-color: #5FCE7C;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 0;
  }
  #enquireaboutservices #submitEnquiryMail #submitEnquiryMailImage {
    height: 50px;
    width: 30px;
    background-image: url("../Images/paper-plane (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: 23%;
  }
  #enquireaboutservices #submitEnquiryMail span {
    float: left;
    height: 50px;
    padding: 17px 0 0 20px;
  }
  #enquireaboutservices #submitEnquiryMail:hover {
    opacity: 0.9;
  }
  #monetize {
    height: 800px;
    background-color: #fff;
    position: relative;
    z-index: 6;
  }
  #monetize #monetize-heading {
    padding: 12% 0 10.5% 0;
    color: #2F303D;
  }
  #monetize #monetize-blocks {
    margin-left: 4.17%;
  }
  #monetize #monetize-blocks #monetize-block-2 {
    animation-delay: 0.3s;
  }
  #monetize #monetize-blocks #monetize-block-3 {
    animation-delay: 0.6s;
  }
  #monetize #monetize-blocks .monetize-block-class {
    height: 180px;
    margin-bottom: 45px;
  }
  #monetize #monetize-blocks .monetize-block-class .monetize-block-content {
    height: 100%;
    padding: 9% 1% 0 12%;
    text-align: justify;
    line-height: 1.5;
    color: #999;
    letter-spacing: 0.5px;
    font-size: 0.76rem;
  }
  #monetize #monetize-blocks .monetize-block-class .monetize-block-content h2 {
    color: #2F303D;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  #monetize #monetize-blocks .monetize-block-class .monetize-block-content-one {
    padding-top: 17.2%;
  }
  #monetize #monetize-blocks .monetize-block-class .monetize-block-content-two {
    padding-top: 10.9%;
    text-align: justify;
  }
  #monetize #monetize-blocks .monetize-block-class .monetize-block-content-three {
    padding-top: 9.9%;
  }
  #monetize #monetize-blocks .monetize-block-class .monetixe-block-image {
    height: 100%;
    opacity: 0.8;
  }
  #monetize #monetize-blocks .monetize-block-class #monetize-image-one {
    background-image: url("../Images/money-bag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #monetize #monetize-blocks .monetize-block-class #monetize-image-two {
    background-image: url("../Images/stats.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #monetize #monetize-blocks .monetize-block-class #monetize-image-three {
    background-image: url("../Images/audience.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #get-mobile-container {
    padding: 12% 0 5% 0%;
  }
  #get-mobile-container #getMobileHeading {
    color: #495063;
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    animation: fade-in-animation 1.4s linear forwards;
  }
  #get-mobile-container #getMobileSubHeading {
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    font-weight: 700;
    padding: 0 5%;
    text-align: center;
    padding-top: 4%;
    animation: fade-in-animation 1.4s linear forwards;
  }
  #get-mobile {
    padding: 12% 0 4% 7%;
    animation: fade-in-animation 1.4s linear forwards;
  }
  #get-mobile #mobile-form #mobileNumber {
    height: 50px;
    font-size: 1rem;
    padding: 0 10px 0 25px;
    font-weight: 700;
    letter-spacing: 0.20px;
    color: #5FCE7C;
    border: 2px solid #5FCE7C;
  }
  #get-mobile #mobile-form input:focus {
    outline: none;
  }
  #get-mobile #mobile-form #submit-button {
    height: 50px;
    margin-left: 0px;
    font-size: 1.01rem;
    margin-top: 5%;
    background-color: #5FCE7C;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 700;
    border: 1px solid #5FCE7C;
    cursor: pointer;
  }
  #get-mobile #mobile-form #submit-button:hover {
    opacity: 0.8;
  }
  #floating-menu {
    transition: all 0.5s;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    padding: 30px 7% 20px 7%;
    top: 00px;
    right: -500px;
    z-index: 11;
    opacity: 1;
    background-image: url("../Images/mobile-menu-1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    border-left: 1px solid #e4e6f0;
  }
  #floating-menu #hide-menu-button {
    height: 35px;
    margin-top: 0px;
    background-image: url("../Images/cancel (2).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 74%;
  }
  #floating-menu a {
    padding: 20px 0 20px 0;
    color: #254196;
    font-size: 1.6rem;
    font-weight: 700;
  }
  #floating-menu #home {
    margin-top: 50px;
  }
  #floating-menu #copyrights {
    margin-top: 48%;
    padding-top: 20px;
    border-top: 1px solid;
    color: #999;
  }
  #menu-visible:checked ~ #menu {
    opacity: 1;
  }
  #menu-visible:not(:checked) ~ #menu {
    opacity: 0;
  }
  footer {
    background-color: #254196;
    border-top: 1px solid #e4e6f0;
    position: relative;
  }
  footer #logo-image-container {
    border-right: 0;
  }
  footer #logo-image {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0;
    border-right: 0;
  }
  footer #copyrights {
    font-size: 1rem;
    padding: 2.5% 0 0% 0;
  }
  footer #copyrights h4 {
    padding-bottom: 10%;
  }
  footer #menu-options {
    padding: 8.5% 0 5% 20.5%;
    text-align: left;
  }
  footer #menu-options a {
    padding-right: 3%;
    font-size: 1.1rem;
    padding-top: 4%;
  }
  footer #designedby {
    padding-bottom: 4%;
    padding: 4% 10% 4% 10%;
  }
  #menu-visible {
    display: none;
  }
  #facebook {
    height: 40px;
    width: 40px;
    top: 240px;
  }
  #googleplus {
    height: 40px;
    width: 40px;
    top: 285px;
  }
}

@media (orientation: landscape) and (min-width: 364px) and (max-width: 768px) {
  header {
    display: none;
  }
  #what-we-do {
    display: none;
  }
  #inquire-form {
    display: none;
  }
  #floating-menu {
    display: none;
  }
  #facebook {
    display: none;
  }
  #googleplus {
    display: none;
  }
  footer {
    display: none;
  }
  #landscape-mode {
    display: block;
  }
  #landscape-mode #img {
    height: 40vh;
    margin-top: 15vh;
    background-image: url("../Images/smartphone.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #landscape-mode #content {
    padding: 15vh 10vw;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header {
    height: 580px;
  }
  #header-graphics {
    position: absolute;
    opacity: 0.1;
    background-position: cover;
  }
  #header-graphics-back {
    position: absolute;
    opacity: 0.2;
    background-position: cover;
  }
  #header-content-holder #written-content {
    text-align: center;
    padding: 18.5% 0% 2% 0%;
  }
  #header-content-holder nav {
    height: 80px;
  }
  #header-content-holder #written-content {
    text-align: center;
    padding: 11.5% 0 3% 0;
  }
  #header-content-holder #written-content #main-heading {
    color: #fff;
    font-size: 1.9rem;
    letter-spacing: 1.9px;
    padding-bottom: 4%;
  }
  #header-content-holder #written-content #sub-heading {
    color: #C0BABD;
    font-size: 1.3rem;
    padding: 0 15%;
    letter-spacing: 0.9px;
    padding-bottom: 8%;
  }
  #header-content-holder #get-mobile {
    padding: 0 0 0 21%;
  }
  #header-content-holder #get-mobile #mobile-form #mobileNumber {
    height: 50px;
    font-size: 1.1rem;
    padding: 0 30px 0 145px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.20px;
    color: #254196;
    margin-bottom: 25px;
  }
  #header-content-holder #get-mobile #mobile-form #submit-button {
    margin-left: 0%;
  }
  #what-we-do {
    padding: 12% 0 15% 0;
    background-color: #fff;
    position: relative;
    z-index: 6;
  }
  #what-we-do #what-we-do-heading {
    text-align: center;
    font-size: 1.8rem;
    color: #495063;
    padding-bottom: 5%;
  }
  #what-we-do #what-we-do-subheading {
    text-align: center;
    padding: 3% 5% 6% 5%;
    color: #7791AF;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  #what-we-do #what-we-do-subheading p {
    font-size: 1.3rem;
    line-height: 1.9;
    color: #999;
    border: 2px solid #999;
    text-align: center;
    padding: 10px 10px;
    margin-top: 60px;
    background-color: #fff;
  }
  #what-we-do #what-we-do-subheading .first {
    margin-left: 4%;
  }
  #what-we-do #what-we-do-subheading .second {
    margin-left: 8%;
  }
  #what-we-do #we-can-help {
    text-align: center;
    font-size: 1.8rem;
    color: #495063;
    margin-top: 20px;
    padding-top: 4%;
    padding: 10% 5% 4% 5%;
  }
  #what-we-do #service-tile-holder {
    margin-left: 0%;
    margin-top: 5%;
    margin-left: 5.33%;
  }
  #what-we-do #service-tile-holder .service-tile {
    height: 220px;
    border: 1px solid  #e4e6f0;
    margin-left: 5.33%;
    margin-top: 6%;
    margin-bottom: 10%;
    padding: 5% 0;
  }
  #what-we-do #service-tile-holder .service-image-holder {
    height: 80%;
  }
  #what-we-do #service-tile-holder .serviceName {
    text-align: center;
    padding-top: 9%;
    font-size: 1.1rem;
    color: #254196;
  }
  #what-we-do #aggregator #aggregator-image {
    background-image: url("../Images/aggregation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #what-we-do #adNetwork #adNetwork-image {
    background-image: url("../Images/adnetwork1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #consultancy #consultancy-image {
    background-image: url("../Images/consultancy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #design #design-image {
    background-image: url("../Images/design-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #seo #seo-image {
    background-image: url("../Images/seo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #what-we-do #smo #smo-image {
    background-image: url("../Images/smo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #inquire-form {
    height: 950px;
    background-color: #f7f8fc;
    border-top: 1px solid #e4e6f0;
    position: relative;
    z-index: 6;
  }
  #form-holder {
    height: 850px;
    background-color: #fff;
    border: 1px solid #e4e6f0;
    position: absolute;
    top: 50px;
    left: 4.17%;
  }
  #form-holder-heading {
    padding: 12% 0 12% 0;
    text-align: center;
    color: #7791AF;
  }
  #enquireaboutservices {
    margin-left: 4.17%;
  }
  #enquireaboutservices #yourName {
    height: 70px;
    padding: 20px;
    border: 1px solid #e4e6f0;
    background-color: #f7f8fc;
    margin: 0  0 5.5% 0%;
  }
  #enquireaboutservices #yourEmail {
    height: 70px;
    padding: 20px;
    border: 1px solid #e4e6f0;
    background-color: #f7f8fc;
    margin: 0  0 5.5% 0%;
  }
  #enquireaboutservices #yourSubject {
    height: 70px;
    padding: 20px;
    border: 1px solid #e4e6f0;
    background-color: #f7f8fc;
    margin-bottom: 5.5%;
  }
  #enquireaboutservices #yourMessage {
    height: 150px;
    padding: 20px;
    border: 1px solid #e4e6f0;
    background-color: #f7f8fc;
    margin-bottom: 9.5%;
  }
  #enquireaboutservices #submitEnquiryMail {
    height: 70px;
    background-color: #5FCE7C;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 50%;
  }
  #enquireaboutservices #submitEnquiryMail #submitEnquiryMailImage {
    height: 50px;
    width: 30px;
    background-image: url("../Images/paper-plane (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: 22%;
  }
  #enquireaboutservices #submitEnquiryMail span {
    float: left;
    height: 50px;
    padding: 17px 0 0 20px;
  }
  #enquireaboutservices #submitEnquiryMail:hover {
    opacity: 0.9;
  }
  #floating-menu {
    transition: all 0.8s;
    position: fixed;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    padding: 30px 7% 20px 7%;
    top: 00px;
    right: -500px;
    z-index: 11;
    opacity: 1;
    background-image: url("../Images/mobile-menu-1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    border-left: 1px solid #e4e6f0;
  }
  #floating-menu #hide-menu-button {
    height: 35px;
    margin-top: 0px;
    background-image: url("../Images/cancel (2).png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 74%;
  }
  #floating-menu a {
    padding: 20px 0 20px 0;
    color: #254196;
    font-size: 1.6rem;
    font-weight: 700;
  }
  #floating-menu #home {
    margin-top: 50px;
  }
  #floating-menu #copyrights {
    margin-top: 48%;
    padding-top: 20px;
    border-top: 1px solid;
    color: #999;
  }
  #menu-visible:checked ~ #menu {
    opacity: 1;
  }
  #menu-visible:not(:checked) ~ #menu {
    opacity: 0;
  }
  footer {
    background-color: #254196;
    border-top: 1px solid #e4e6f0;
  }
  footer #logo-image {
    margin-top: 30px;
  }
  footer #copyrights {
    font-size: 1rem;
    padding: 2.5% 0 0% 0;
  }
  footer #copyrights h4 {
    padding-bottom: 10%;
  }
  footer #menu-options {
    padding: 8.5% 0 5% 20.5%;
    text-align: left;
  }
  footer #menu-options a {
    padding-right: 3%;
    font-size: 1.1rem;
    padding-top: 4%;
  }
  footer #designedby {
    padding-bottom: 4%;
    padding: 4% 10% 4% 10%;
  }
  #menu-visible {
    display: none;
  }
  #facebook {
    height: 40px;
    width: 40px;
    top: 250px;
  }
  #googleplus {
    height: 40px;
    width: 40px;
    top: 295px;
  }
}
