doctype html
html
	head
		title Digiboom | Digital Marketing Solutions
		meta(charset='utf-8') 
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="HandheldFriendly" content="true")
		link(rel='stylesheet', href='CSS/about.css') 
		
	body
		header.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-background.col-lg-12.col-md-12.col-sm-12.col-xs-12 
			#header-graphics.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-graphics-back.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-content-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
				nav.col-lg-12.col-md-12.col-sm-12.xs-hidden
					#logo.col-lg-7.col-md-7.col-sm-6.col-xs-12
						a(href='index.html').col-lg-12.col-md-12.col-sm-12.col-xs-12
							img(src="Images/logosolocircle.png" width="50px" height='50px').col-lg-1.col-md-1.col-sm-2.col-xs-12
							span#main DIGIBOOM 
							br 
							span#sub Digital Marketing Soutions
					#menu.col-lg-5.col-md-5.col-sm-6.col-xs-12
						a(href='index.html')#home.col-lg-3.col-md-3.col-sm-3.col-xs-3 Home
						a(href='about.html')#about.col-lg-3.col-md-3.col-sm-3.col-xs-3 About
						a(href='contactus.html')#contact.col-lg-3.col-md-3.col-sm-4.col-xs-3 
							p Contact Us


				#responsivenav.lg-hidden.md-hidden.sm-hidden.col-xs-12
					a(href="index.html")
						#logo.col-sm-2.col-xs-4
					label(for="menu-visible" onclick="hiddenmenu()")#menu-button.col-sm-2.col-xs-3 	

				#header-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#written-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h3#main-heading Digital India Forward
						br
						h5#sub-heading Making Results
		
		#about-us-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#about-us-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1 About Us
			#about-us-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
				p.col-lg-12.col-md-12.col-sm-12.col-xs-12 
				h3.subheading-aboutus Digi Boom is a digital marketing solutions company.  
				Br Online publishers in-house teams are expensive for the ROI they provide. Managing Ad network is not a core business function and it is not easy for publishers to monetize online traffic.
				Br We as Publisher's website network build revenue.Our service promises revenues and expert team support in maximizing digital monetization. 
				br
				p.col-lg-12.col-md-12.col-sm-12.col-xs-12 
					h3 Additional Services 
					br 
					|◉ Web design
					br 
					|◉ Development and maintenance
					br 
					|◉ End to end digital service management

			#monetize.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#monetize-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Core Area of Operation - "Monetization"
				//- #monetize-image.col-lg-10.col-md-10.col-sm-10.xs-hidden
				#monetize-blocks.col-lg-11.col-md-11.col-sm-10.col-xs-11
					#monetize-block-1.monetize-block-class.col-lg-4.col-md-4.col-sm-12.col-xs-12
						#monetize-image-one.monetixe-block-image.col-lg-12.col-md-12.col-sm-6.col-xs-4
						.monetize-block-content.monetize-block-content-one.col-lg-12.col-md-12.col-sm-6.col-xs-8 
							h2 Monetize 
							|We monetize impressions by showing different types of ads.
						
					#monetize-block-2.monetize-block-class.col-lg-4.col-md-4.col-sm-12.col-xs-12
						#monetize-image-two.monetixe-block-image.col-lg-12.col-md-12.col-sm-6.col-xs-4
						.monetize-block-content.monetize-block-content-two.col-lg-12.col-md-12.col-sm-6.col-xs-8
							h2 Aggregators 
							|Large opportunity for the online publishers to add directly to their bottom line which allows our team to focus on core sales.
						
					#monetize-block-2.monetize-block-class.col-lg-4.col-md-4.col-sm-12.col-xs-12
						#monetize-image-three.monetixe-block-image.col-lg-12.col-md-12.col-sm-6.col-xs-4
						.monetize-block-content.monetize-block-content-three.col-lg-12.col-md-12.col-sm-6.col-xs-8 
							h2 Right Audience 
							|Large opportunity for the advertisers to connect and match with the right audience.

			#our-team.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#our-team-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Meet Our Team
				#our-team-tile-container.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#team-member-one.team-member.col-lg-3.col-md-3.col-sm-4.col-xs-11
						#team-member-image-one.team-member-image.col-lg-5.col-md-5.col-sm-5.col-xs-5
						#team-member-info-one.team-member-info.col-lg-7.col-md-7.col-sm-7.col-xs-7
							span.member-name Rohan Kharbanda
							br
							|B.Tech
							br 
							|Business Head
							br
							|Publisher Business Development
					#team-member-two.team-member.col-lg-3.col-md-3.col-sm-4.col-xs-11
						#team-member-image-two.team-member-image.col-lg-5.col-md-5.col-sm-5.col-xs-5
						#team-member-info-two.team-member-info.col-lg-7.col-md-7.col-sm-7.col-xs-7
							span.member-name Bhuvan Singh 
							br
							|B.Tech
							br 
							|Web Head
							br
							|Development and Maintenance


						
		#floating-menu.lg-hidden.md-hidden.sm-hidden.col-xs-10
			label(for="menu-visible" onclick="hiddenmenu()")#menu-button.col-sm-2.col-xs-3
			a(href='index.html')#home.col-sm-12.col-xs-12 Home
			a(href='about.html')#about.col-sm-12.col-xs-12 About
			a(href='contactus.html')#contact.col-sm-12.col-xs-12 Contact Us
			#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4 2016 All rights reserved @ DigiBoom  Digital marketing solutions.
				

		//- footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#menu-options.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 		a(href="index.html")#footer-home.col-lg-2.col-md-2.col-sm-3.col-xs-3 Home
		//- 		a(href="about.html")#footer-about.col-lg-2.col-md-2.col-sm-3.col-xs-3 About
		//- 		a(href="contactus.html")#footer-contact.col-lg-2.col-md-2.col-sm-3.col-xs-3 Contact
		//- 	#social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 		h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
		//- 		#designedby
		//- 			h5 Website designed and developed by 
		//- 				a(href="#") Bhuvan Singh.
		footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#logo-image-container.col-lg-4.col-md-4.col-sm-4.col-xs-12
				#logo-background.col-lg-12.col-md-12.col-sm-12.xs-hidden
				#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#menu-options.col-lg-8.col-md-8.col-sm-8.col-xs-12
				a(href="index.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-home Home
				a(href="about.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-about About
				a(href="contactus.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-contact Contact
			//- #social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#copyrights.col-lg-8.col-md-8.col-sm-8.col-xs-12
				h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
			#designedby.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h5 Website designed and developed with 💖 by 
					a(href="#") Bhuvan Singh.
		
		input(type="checkbox")#menu-visible.lg-hidden.md-hidden.sm-hidden.xs-hidden
		a(href="https://www.facebook.com/digiboom1",target="_blank")
			#facebook
		a(href="https://goo.gl/lAfhX2",target="_blank")
			#googleplus

		#landscape-mode.col-sm-12.col-xs-12
			#img.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#content.col-lg-12.col-md-12.col-sm-12.col-xs-12
				| Apologies but we dont support landscape view as of now. Please switch back to portrait view.
				
				| Sorry for the incovinience 
		
					
		//- script goes here 
		script(src="JS/script.js")		