doctype html
html
	head
		title Digiboom | Digital Marketing Solutions
		meta(charset='utf-8') 
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="HandheldFriendly" content="true")
		link(rel='stylesheet', href='CSS/contactus.css') 
		
	body
		#floating-menu.lg-hidden.md-hidden.sm-hidden.col-xs-10
			label(for="menu-visible" onclick="hiddenmenu()")#menu-button.col-sm-2.col-xs-3
			a(href='index.html')#home.col-sm-12.col-xs-12 Home
			a(href='about.html')#about.col-sm-12.col-xs-12 About
			a(href='contactus.html')#contact.col-sm-12.col-xs-12 Contact Us
			#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4 2016 All rights reserved @ DigiBoom  Digital marketing solutions.
		input(type="checkbox")#menu-visible.lg-hidden.md-hidden.sm-hidden.xs-hidden
		#landscape-mode.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#img.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#content.col-lg-12.col-md-12.col-sm-12.col-xs-12
				| Apologies but we dont support landscape view as of now. Please switch back to portrait view.
				
				| Sorry for the incovinience 

		header.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-background.col-lg-12.col-md-12.col-sm-12.col-xs-12 
			#header-content-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
				nav.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#logo.col-lg-7.col-md-7.col-sm-6.xs-hidden
						a(href='index.html').col-lg-12.col-md-12.col-sm-12.col-xs-12
							img(src="Images/logosolocircle.png" width="50px" height='50px').col-lg-1.col-md-1.col-sm-2.col-xs-12
							span#main DIGIBOOM 
							br 
							span#sub Digital Marketing Soutions
					#menu.col-lg-5.col-md-5.col-sm-6.xs-hidden
						a(href='index.html')#home.col-lg-3.col-md-3.col-sm-3.col-xs-3 Home
						a(href='about.html')#about.col-lg-3.col-md-3.col-sm-3.col-xs-3 About
						a(href='contactus.html')#contact.col-lg-3.col-md-3.col-sm-4.col-xs-3 
							p Contact Us
					#responsivenav.lg-hidden.md-hidden.sm-hidden.col-xs-12
						a(href="index.html")#logo.col-xs-4
						label(for="menu-visible" onclick="hiddenmenu()")#menu-button.col-xs-3

		#contactUsPopUp-map.col-lg-12.col-md-12.col-sm-12.col-xs-12
        
		#contactUsPopUp.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#contact-heading-float.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#contact-heading-float-content
				h3 Get in touch 
				h5 Our team will reply to your mail ASAP

			//- #contactUsPopUp-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
				//- #contactUsPopUp-heading-written.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Contact DigiBoom Team
				#contactUsPopUp-heading-close-icon.col-lg-1.col-md-1.col-sm-1.col-xs-1
			#contactUsPopUp-main.col-lg-12.col-md-12.col-sm-12.col-xs-12
				
				#contactUsPopUp-main-holder.col-lg-10.col-md-10.col-sm-12.col-xs-12
					#contactUsPopUp-main-left.col-lg-5.col-md-5.col-sm-12.col-xs-12
						#contactUsPopUp-main-left-content-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
							//- #contactUsPopUp-logo.col-lg-12.col-md-12.col-sm-12.col-xs-12
							#contactUsPopUp-address-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
								#contactUsPopUp-address-holder-icon.col-lg-12.col-md-12.col-sm-12.col-xs-12
								#contactUsPopUp-address-holder-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
									a DigiBoom | Digital Marketing Solutions 
									br 
									|India
									br 
									|info@digiboom.co.in
									br
									|digiboominfo@gmail.com

									
							

					#contactUsPopUp-main-right.col-lg-7.col-md-7.col-sm-12.col-xs-12
						#contactUsPopUp-main-right-content-holder.col-lg-11.col-md-11.col-sm-12.col-xs-12
							#form-holder-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
								h3 Send us an enquiry mail.
							//- form(name='enquireaboutservices',method='post',action='enquiremail.php')#enquireaboutservices.col-lg-12.col-md-12.col-sm-12.col-xs-12
							//- 	input(type='text',name='name',placeholder='Your name',maxlength='30' required)#yourName.col-lg-11.col-md-11.col-sm-11.col-xs-11
							//- 	input(type='email',name='email',placeholder='Your Email Id' required)#yourEmail.col-lg-11.col-md-11.col-sm-11.col-xs-11
							//- 	input(type='text',name='subject',placeholder='Subject of enquiry' required)#yourSubject.col-lg-11.col-md-11.col-sm-11.col-xs-11 
							//- 	textarea(name='message',placeholder='Your message . . .' required)#yourMessage.col-lg-11.col-md-11.col-sm-11.col-xs-11
							//- 	button(type='submit',form='enquireaboutservices',name='SubmitEnquiryForm')#submitEnquiryMail.col-lg-11.col-md-11.col-sm-11.col-xs-11
							//- 		#submitEnquiryMailImage
							//- 		span Send Enquiry Mail

							form(name='enquireaboutservices',method='post',action='enquiremail.php')#enquireaboutservices.col-lg-12.col-md-12.col-sm-12.col-xs-12
								#name.input-container.col-lg-11.col-md-11.col-sm-11.col-xs-11 
									#name-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2 
									input(type='text',name='name',placeholder='Your name' required)#yourName.col-lg-10.col-md-10.col-sm-10.col-xs-10 
								#email.input-container.col-lg-11.col-md-11.col-sm-11.col-xs-11
									#email-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2 
									input(type='email',name='email',placeholder='Your Email Id' required)#yourEmail.col-lg-10.col-md-10.col-sm-10.col-xs-10
								#subject.input-container.col-lg-11.col-md-11.col-sm-11.col-xs-11
									#subject-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2
									input(type='text',name='subject',placeholder='Subject of enquiry' required)#yourSubject.col-lg-10.col-md-10.col-sm-10.col-xs-10
								#message.input-container.col-lg-11.col-md-11.col-sm-11.col-xs-11 
									#message-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2
									textarea(name='message',placeholder='Your message . . .' required)#yourMessage.col-lg-10.col-md-10.col-sm-10.col-xs-10
								button(type='submit',name='SubmitEnquiryForm')#submitEnquiryMail.col-lg-6.col-md-6.col-sm-11.col-xs-11
									#submitEnquiryMailImage
									span Send Enquiry Mail		



			//- footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 	#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 	#menu-options.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 		a(href="index.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-home Home
			//- 		a(href="about.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-about About
			//- 		a(href="contactus.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-contact Contact
			//- 	#social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 	#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
			//- 		h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
			//- 		#designedby
			//- 			h5 Website designed and developed by 
			//- 				a(href="#") Bhuvan Singh.
			footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#logo-image-container.col-lg-4.col-md-4.col-sm-4.col-xs-12
					#logo-background.col-lg-12.col-md-12.col-sm-12.xs-hidden
					#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#menu-options.col-lg-8.col-md-8.col-sm-8.col-xs-12
					a(href="index.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-home Home
					a(href="about.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-about About
					a(href="contactus.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-contact Contact
				//- #social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#copyrights.col-lg-8.col-md-8.col-sm-8.col-xs-12
					h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
				#designedby.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h5 Website designed and developed with 💖 by 
						a(href="#") Bhuvan Singh.
		

		a(href="https://www.facebook.com/digiboom1",target="_blank")
			#facebook
		a(href="https://goo.gl/lAfhX2",target="_blank")
			#googleplus
		
		script(src="JS/script.js")
		script( async defer ,src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKTBNoOpm7jUOHQfAgJNxZ25gU3pHP_EU&callback=initMap")
		script.
			function initMap() {
				var uluru = {lat: 28.6550, lng: 77.1809};
				var map = new google.maps.Map(document.getElementById('contactUsPopUp-map'), { 
					zoom: 2,
					center: uluru
				});
				var marker = new google.maps.Marker({
					position: uluru,
					map: map
				});
			}
