doctype html
html
	head
		title Digiboom | Digital Marketing Solutions
		meta(charset='utf-8') 
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="HandheldFriendly" content="true")
		link(rel='stylesheet', href='CSS/style.css') 
		
	body
		header.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-background.col-lg-12.col-md-12.col-sm-12.col-xs-12 
			#header-graphics.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-graphics-back.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-content-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
				nav.col-lg-12.col-md-12.col-sm-12.xs-hidden
					#logo.col-lg-7.col-md-7.col-sm-6.col-xs-12
						a(href='index.php').col-lg-12.col-md-12.col-sm-12.col-xs-12
							img(src="Images/logosolocircle.png" width="50px" height='50px').col-lg-1.col-md-1.col-sm-2.col-xs-12
							span#main DIGIBOOM 
							br 
							span#sub Digital Marketing Soutions
					#menu.col-lg-5.col-md-5.col-sm-6.col-xs-12
						a(href='index.php')#home.col-lg-3.col-md-3.col-sm-3.col-xs-3 Home
						a(href='about.php')#about.col-lg-3.col-md-3.col-sm-3.col-xs-3 About
						a(href='contactus.php')#contact.col-lg-3.col-md-3.col-sm-4.col-xs-3 
							p Contact Us
				#responsivenav.lg-hidden.md-hidden.sm-hidden.col-xs-12
					a(href="index.php")
						#logo.col-sm-2.col-xs-4
					div#menu-button.col-sm-2.col-xs-3

				#header-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#written-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h3#main-heading Let us help your business GROW
						br
						h5#sub-heading with our digital marketing solutions
					#get-mobile.col-lg-12.col-md-12.col-sm-11.col-xs-12
						form(name='mobile-number',method='post',action='mobile.php')#mobile-form
							input(name='userNumber',type='text',minlengh='10' ,maxlength='10',placeholder='Enter your 10 digit mobile number' required)#mobileNumber.col-lg-4.col-md-4.col-sm-10.col-xs-11
							button(name="submit",type='submit',value="Get in touch").col-lg-3.col-md-3.col-sm-10.col-xs-11#submit-button Request a call
		#what-we-do.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#what-we-do-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h3 What we do ? 
			#what-we-do-subheading.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4 Our expert team at DIGIBOOM supports :</br></br> 
				.subheading-container.first.col-lg-5.col-md-5.col-sm-5.col-xs-12
					.subheading-image#first-image.col-lg-3.col-md-3.col-sm-3
					p.col-lg-9.col-md-9.col-sm-9  Online publishers in maximizing digital monetization.
				.subheading-container.second.col-lg-5.col-md-5.col-sm-5.col-xs-12
					.subheading-image#second-image.col-lg-3.col-md-3.col-sm-3
					p.col-lg-9.col-md-9.col-sm-9 Aggregation of publishers Ad space and sale to advertisers. 

			#what-we-do-subheading.lg-hidden.md-hidden.sm-hidden.xs-hidden
				h4 Our expert team at DIGIBOOM supports </br></br> 
				//- h4 ⬇
				p.first Online publishers in maximizing digital monetization</br>
				//- h4 ⬇
				p.second Aggregation of publishers Ad space and sale to advertisers

			#page-break.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#we-can-help-container.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#we-can-help-background.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#we-can-help-background-low.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#we-can-help-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#we-can-help.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h3 We can help you with

					#services.col-lg-12.col-md-12.col-sm-12.col-xs-12
						#service-tile-holder.col-lg-10.col-md-10.col-sm-11.col-xs-10
							#aggregator.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12
								#aggregator-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Aggregation of Publishers
							#adNetwork.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12 
								#adNetwork-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Ad Network
							#consultancy.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12
								#consultancy-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Consultancy
							#design.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12
								#design-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Design
							#seo.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12 
								#seo-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Search Engine Optimization
							#smo.service-tile.col-lg-3.col-md-3.col-sm-5.col-xs-12
								#smo-image.service-image-holder.col-lg-8.col-md-8.col-sm-8.col-xs-12
								#content.serviceName.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Social Media Optimization 

		#inquire-form.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#form-holder.col-lg-12.col-md-12.col-sm-11.col-xs-12
				#form-holder-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h3 Get in touch.
				//- form(name='enquireaboutservices',method='post',action='enquiremail.php')#enquireaboutservices.col-lg-9.col-md-9.col-sm-11.col-xs-11
				//- 	input(type='text',name='name',placeholder='Your name' required)#yourName.col-lg-5.col-md-5.col-sm-12.col-xs-12 

				//- 	input(type='email',name='email',placeholder='Your Email Id' required)#yourEmail.col-lg-6.col-md-6.col-sm-12.col-xs-12
				//- 	input(type='text',name='subject',placeholder='Subject of enquiry' required)#yourSubject.col-lg-12.col-md-12.col-sm-12.col-xs-12 
				//- 	textarea(name='message',placeholder='Your message . . .' required)#yourMessage.col-lg-12.col-md-12.col-sm-12.col-xs-12
				//- 	button(type='submit',name='SubmitEnquiryForm')#submitEnquiryMail.col-lg-4.col-md-4.col-sm-6.col-xs-12 
				//- 		#submitEnquiryMailImage
				form(name='enquireaboutservices',method='post',action='enquiremail.php')#enquireaboutservices.col-lg-9.col-md-9.col-sm-11.col-xs-11
					#name.input-container.col-lg-5.col-md-5.col-sm-12.col-xs-12 
						#name-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2 
						input(type='text',name='name',placeholder='Your name' required)#yourName.col-lg-10.col-md-10.col-sm-10.col-xs-10 
					#email.input-container.col-lg-6.col-md-6.col-sm-12.col-xs-12 
						#email-image.input-image.col-lg-2.col-md-2.col-sm-2.col-xs-2 
						input(type='email',name='email',placeholder='Your Email Id' required)#yourEmail.col-lg-10.col-md-10.col-sm-10.col-xs-10 
					#subject.input-container.col-lg-12.col-md-12.col-sm-12.col-xs-12 
						#subject-image.input-image.col-lg-1.col-md-1.col-sm-2.col-xs-2 
						input(type='text',name='subject',placeholder='Subject of enquiry' required)#yourSubject.col-lg-11.col-md-11.col-sm-10.col-xs-10 
					#message.input-container.col-lg-12.col-md-12.col-sm-12.col-xs-12 
						#message-image.input-image.col-lg-1.col-md-1.col-sm-2.col-xs-2
						textarea(name='message',placeholder='Your message . . .' required)#yourMessage.col-lg-11.col-md-11.col-sm-10.col-xs-10
					button(type='submit',name='SubmitEnquiryForm')#submitEnquiryMail.col-lg-5.col-md-5.col-sm-6.col-xs-12 
						#submitEnquiryMailImage
						span Send Enquiry Mail		

		#floating-menu.lg-hidden.md-hidden.col-sm-5.col-xs-10
			//- div#hide-menu-cross.col-sm-2.col-xs-3
			a(href='index.php')#home.col-sm-12.col-xs-12 Ho
			a(href='about.php')#about.col-sm-12.col-xs-12 About
			a(href='contactus.php')#contact.col-sm-12.col-xs-12 Contact Us
			#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4 2016 All rights reserved @ DigiBoom  Digital marketing solutions.

		//- footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#menu-options.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 		a(href="index.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-home Home
		//- 		a(href="about.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-about About
		//- 		a(href="contactus.html").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-contact Contact
		//- 	#social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 	#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
		//- 		h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
		//- 		#designedby
		//- 			h5 Website designed and developed by 
		//- 				a(href="#") Bhuvan Singh.
		footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#logo-image-container.col-lg-4.col-md-4.col-sm-4.col-xs-12
				#logo-background.col-lg-12.col-md-12.col-sm-12.xs-hidden
				#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#menu-options.col-lg-8.col-md-8.col-sm-8.col-xs-12
				a(href="index.php").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-home Home
				a(href="about.php").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-about About
				a(href="contactus.php").col-lg-2.col-md-2.col-sm-3.col-xs-3#footer-contact Contact
			//- #social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#copyrights.col-lg-8.col-md-8.col-sm-8.col-xs-12
				h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
			#designedby.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h5 Website designed and developed with 💖 by 
					a(href="#") Bhuvan Singh.

		input(type="checkbox")#menu-visible.lg-hidden.md-hidden.sm-hidden.xs-hidden
		a(href="https://www.facebook.com/digiboom1",target="_blank")
			#facebook
		a(href="https://goo.gl/lAfhX2",target="_blank")
			#googleplus

		#landscape-mode.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#img.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#content.col-lg-12.col-md-12.col-sm-12.col-xs-12
				| Apologies but we dont support landscape view as of now. Please switch back to portrait view.
				| Sorry for the incovinience 




					
		//- script goes here 
		script(src="JS/script.js")
		
		
